<div class="container">
  <form [formGroup]="userform" autocomplete="off">
      <div class="mb-1">
          <label for="name" class="form-label">Name</label>
          <div class="input-group has-validation">
              <input type="text" #name [ngClass]="{'form-control': true}" id="name" name="name"
                  formControlName="name" placeholder="name">
          </div>
      </div>
      <div class="mb-1">
        <label for="lastname" class="form-label">Lastname</label>
        <div class="input-group has-validation">
            <input type="text" #name [ngClass]="{'form-control': true}" id="lastname" name="lastname"
                formControlName="lastname" placeholder="Lastname">
        </div>
    </div>
    <div class="mb-1">
          <label for="email" class="form-label">Email</label>
          <div class="input-group has-validation">
              <input type="email" [ngClass]="{'form-control': true}" id="email" name="email"
                  formControlName="email" placeholder="xyz@gmail.com">
          </div>
      </div>
      <div class="mb-1">
        <label for="username" class="form-label">Username</label>
        <div class="input-group has-validation">
            <input type="text" #name [ngClass]="{'form-control': true}" id="username" name="username"
                formControlName="username" placeholder="Username">
        </div>
    </div>
    <div class="mb-1">
      <label for="role" class="form-label">Role</label>
      <div class="input-group has-validation">
          <input type="text" #name [ngClass]="{'form-control': true}" id="role" name="role"
              formControlName="role" placeholder="role">
      </div>
  </div>
      <div class="mb-1">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button (click)="save()" class="btn btn-primary" type="button">
                  {{id==0 || id==null ?'Save':'Update'}}</button>
              <button class="btn btn-secondary" type="button" (click)="reset()">Reset </button>
          </div>
      </div>

      <div class="mb-1" *ngIf="errors">
        <div *ngFor="let error of errors">
          <div class="alert alert-danger">
            {{ error }}
        </div>
        </div>
      </div>
  </form>
</div>
